configuration {
    font: "monospace 22";
    show-icons: false;
    display-drun: "Run:";
    display-window: "Win:";
    drun-display-format: "{name}";
}

* {
    bg: #000000;
    fg: #E0E0E0;
    border-col: #000000;
    
    /* Global properties */
    background-color: @bg;
    text-color: @fg;
    margin: 0;
    padding: 0;
    spacing: 0;
}

window {
    width: 40%;
    border: 2px;
    border-color: @border-col;
    padding: 20px;
    background-color: @bg;
}

mainbox {
    spacing: 20px;
}

inputbar {
    spacing: 15px;
    padding: 5px 5px 20px 5px;
    border: 0px 0px 2px 0px;
    border-color: @border-col;
    children: [ prompt, entry ];
}

prompt {
    text-color: @fg;
    font: "monospace bold 22";
}

entry {
    text-color: @fg;
    placeholder: "Search...";
    placeholder-color: #666666;
}

listview {
    lines: 8;
    scrollbar: false;
    spacing: 8px;
    border: 0px;
}

element {
    padding: 12px 15px;
    background-color: @bg;
    text-color: @fg;
}

element normal.normal, 
element alternate.normal {
    background-color: @bg;
    text-color: @fg;
}

element selected.normal {
    background-color: @fg;
    text-color: @bg;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
}
